.cart-card{
    /* width: ; */
}
.cart-cardimg{
    height: 170px !important;
}
.cartcard-title{
    font-size: 15px;
    font-weight: 600;

}
.cartcard-text{
    color: grey;
    font-size: 14px;
}
.cartcard-price{
    font-size: 14px;
    font-weight: 600;
}
.cartcard-qty{
    border: none;
    background-color: rgba(229, 228, 226, 1);
    border-radius: 5px;
    padding: 5px 5px;
    width:80px;
    /* height: 25px; */
    /* position: relative; */
    font-weight: 650;
    font-size: 14px;
    margin-bottom: 10px;
}
.cartcard-qtyvalue{
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: rgba(229, 228, 226, 1);
    text-decoration: none;
    margin-left: 5px;
    
}
.cartcard-return{
    font-size: 12px;
    color: gray;
}
.cartcard-return1{
    color: black;
    font-weight: 700;
}
.cartcard-remove{
    background-color: rgba(0,0,0,0.1);
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    right: 15px;
    top: 10px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}
