.products{
    background-color: #FAF9F6;
}
.products-filter{
    display: flex;
    justify-content: flex-end;
    
}
.products-filterselect{
    margin: 20px 20px;
    border-radius: 2px;
    border: 1px solid #E2DFD2;
    padding: 7px;
}