.editproduct{
    background-color: rgba(241,58,131,0.1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}
.editproduct-c{
    width: 350px;
}
.editproduct-inputs{
    margin-top: 20px !important;
    /* width: 350px; */
}
.editproduct-button{
    margin-top: 30px;
    width: 320px;
    border: none;
    background-color: rgba(241,58,131,0.9);
    color: white;
    font-weight: 500;
    border-radius: 3px;
}
.editproduct-remove{
    position: relative;
    top: 25px;
    left: 300px;
    font-weight: 500;
    background-color: rgba(255,255,255,0.8);
    width: 35px !important;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.editproduct-removeX{
    position: relative;
    top: 5px;
    color: gray;
}